@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: hsl(10, 10%, 5%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

h3 {
    color: white;
    font-size: 25px;
    text-align: center;
}

h4 {
    color: white;
    font-size: 20px;
    text-align: center;

}

input {
    height: 35px;
    width: 300px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(245, 245, 245, 0.863);
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(233, 232, 243);
    font-size: 20px;
}

h2 {
    color: white;
    font-size: 30px;
}

.group {
  box-sizing: border-box;
  border: 1px solid #0c0606;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto; 
  background-color: hsl(346, 100%, 65%);
  height: 180px;
  width: 400px; 
}

.sr-only {
    font-size: 50px;
    color: red
}

p {
    color: rgb(14, 240, 240);
    font-size: 30px;
}

button {
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    background-color:whitesmoke;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    background-color: hsl(0, 0%, 5%);
    color: white;
    border: none;
}

.btn2 {
    background-color: hsl(0, 0%, 10%);
    color: white;
    border: none;
}

table {
    box-sizing: border-box;
    border: 1px solid #0c0606;
    background-color: hsl(346, 100%, 80%);
    width: 80%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    font-size: 22px;
}

table a{
  color: rgb(113, 67, 167);
}

.tr-classNAme {
  @apply flex flex-col mb-4
}

.info-container {
  text-align: center;
}

.author-photo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.author-name {
  font-size: 1.2em;
}

.author-description {
  font-size: 1em;
}

@media (min-width: 600px) {
  .author-photo {
    width: 100px;
  }

  .author-name {
    font-size: 1.5em;
  }

  .author-description {
    font-size: 1.2em;
  }
}

@media (min-width: 600px) {
    .group {
      flex-direction: row;
      
    }
  }
  
  @media (min-width: 900px) {
    .group {
      flex-direction: column;
      
    }
  }

  @media (min-width: 640px) {
    .btn {
      width: 50%;
    }
  }
  
  @media (min-width: 1024px) {
    .btn {
      width: 25%;
    }
  }

  
  @media (min-width: 600px) {
    input {
      width: 75%;
      text-align: center;
    }
  }
  
  @media (min-width: 900px) {
    input {
      width: 50%;
      text-align: center;
    }
  }
  
  @media (min-width: 1200px) {
    input {
      width: 33%;
      text-align: center;
    }
  }

  